:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

label { display:block }

html, body {
  margin: 0;
  background-color: #e6ffe6;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  width:100%,
}


table {
  width: 90%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 20px; /* Add margin to match box styling */
  background-color: #f9f9f9; /* Background color */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Drop shadow */
  color: #041f0a;
}

th, td {
  padding: 10px; /* Padding */
  border-bottom: 1px solid #ccc; /* Bottom border */
  border-right: 1px solid #ccc; /* Vertical border */
}

th {
  background-color: #f7f7f7; /* Lighter background color for header */
}

tr:nth-child(even) {
  background-color: #f7f7f7; /* Alternate row background color */
}

/* Hover effect for table rows */
tr:hover {
  background-color: #f2f2f2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


.user-input-area {
  display: block;
}

.stuff-box {
	font-family: 'helvetica neue', helvetica, sans-serif;
	color: white;
	letter-spacing: 1px;
	text-transform: capitalize;
	text-align: center;
	padding: 3px 10px;
	margin: 10px;
	cursor: pointer;
	border-radius: 10px;
	border-width: 2px;
	border-style: solid;
	background-color: grey;
  width: 90%;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-inner {
  position: relative;
  color: black;
  padding: 32px;
  width: 100%;
  max-width: 640px;
  background-color: #FFF;
}

.popup-inner .close-btn {
  position: relative;
  top: 16px;
  right: 16px;
}

.toast-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.toast {
  width: 100vb;
  height: 100vb;
}

.input-element {
  margin: 1em;
}

.scroll { 
  /* enable div scrolling */ 
  overflow: scroll; 
  height: 300px; 
  border: 10px black solid; 
  width: 90%;
  padding: 2%; 
  margin: 0 auto; 
  white-space: nowrap; 
  font-size: large; 
} 

.title-name {
  color: #041f0a; 
  background-color: #f7f7f7; 
  border: 1px solid #ccc; 
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  width: 90%
}

.navbar {
  background-color: #333;
  color: white;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 90%;
}

.nav-link {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
}

.nav-link:hover {
  text-decoration: underline;
}

.app-info-box {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 90%;
}

.app-info-box h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

.app-info-box p {
  font-size: 16px;
  line-height: 1.5;
  color: #666;
}
